/*
* @Author: loewe0202
* @Date:   2019-03-06 11:17:02
* @Last Modified by:   loewe0202
* @Last Modified time: 2019-03-06 17:30:38
*/
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.blog-title {
  line-height: 1.7;
  text-align: center;
}

.blog-desc {
  text-indent: 2em;
  text-align: justify;
  line-height: 1.5;
}

input {
  font-size: 17px;
}
