/*
* @Author: loewe0202
* @Date:   2019-03-06 10:46:39
* @Last Modified by:   loewe0202
* @Last Modified time: 2019-03-06 11:53:16
*/
button {
  margin: 0 auto;
  display: block;
  width: 100%;
  line-height: 1.5em;
  padding: 5px;
}
