/*
* @Author: loewe0202
* @Date:   2019-04-16 17:00:05
* @Last Modified by:   loewe0202
* @Last Modified time: 2019-04-16 18:23:39
*/
#c-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  color: #333;
  text-align: center;
  height: 44px;
  line-height: 44px;
  font-size: 17px;
  z-index: 999999;

  .header-back {
    font-size: 22px;
    width: 54px;
    height: 44px;
    position: absolute;
    left: 0;
    top: 0;
  }

  .header-btn-icon {
    font-size: 22px;
    width: 54px;
    height: 44px;
    position: absolute;
    right: 0;
    top: 0;
  }
}
