/*
* @Author: loewe0202
* @Date:   2019-03-05 15:29:10
* @Last Modified by:   loewe0202
* @Last Modified time: 2019-03-05 15:51:16
*/
.page {
  padding: 15px;
  line-height: 1.8;
}

a {
  display: block;
  text-decoration: none;
}

.mgt-15 {
  margin-top: 15px;
}

.uaStyle {
  color: #409eff;
  text-align: justify;
  word-break: break-all;
}

.origin-input {
  label {
    margin-left: 5px;
  }
}
