/*
* @Author: loewe0202
* @Date:   2019-02-22 16:48:13
* @Last Modified by:   loewe0202
* @Last Modified time: 2019-03-06 11:57:03
*/

html, body {
  background: #f5f5f5;
}

.tc {
  text-align: center;
}

.mgt-15 {
  margin-top: 15px;
}
